@CHARSET "UTF-8";
#north{
	margin-top:0px;
	overflow: hidden;
    position: relative;
}
#north #north_left #logo{
	float:left;
}
#north #north_right{
	float:right;
}
#datetime{
	float:right;
	font-align:right;
}
#weather{
	float:right;
	font-size:16px;
	font-align:right;
}
#testbar{
	float:left;
	height:30px;
	overflow:hidden;
	position:relative;
}
#testbar_left{
	float: left;
}
#testbar_center{
    float: left;
}
#testbar_right{
	float: right;
}
#funcbar{
}
#center #control{
	background-color:white;
	overflow:hidden;
	position:relative;
}
#center #quicket{
	position:absolute;
	bottom:3%
}

#south{
	position:absolute;
    bottom:0px
}
#south #online{
	float:left;
	position:relative;
}
#south #company{
	float:left;
	position:relative;
}
#south #extra{
	float:right;
	position:relative;
}